<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="About ShareIt">
    <title>About ShareIt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <header>
        <div class="container">
            <h1>About ShareIt</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('listing') }}">Listings</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('register') }}">Register here!</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="container" align="center">
            <h2>About Our Platform</h2>
            <img src="{{ url_for('static', filename='images/portrait.jpg') }}" alt="Team Picture">
            <p>
                ShareIt is an innovative platform developed by a group of budding entrepreneurs from SIT.
                The platform empowers individuals to list underutilized items such as tools, equipment, and household goods for rent, making them available to others in the community.
                By promoting a culture of sharing and sustainability, ShareIt helps reduce waste, minimize unnecessary purchases, and foster stronger connections among community members.
                Join us in creating a more resource-efficient and eco-friendly future!
            </p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 ShareIt. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
